/*****************TAG SELECTORS*************************/

a {
  color:inherit;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

body {
  width: 100%;
  margin: 0;
  text-align: center;
  color: #655c56;
  padding: 0;
}

div {

  margin: inherit;
}

h1 {
  margin:auto;
  line-height: 2;
  font-family: 'Arvo', serif;
  font-size: 3.5rem;
  font-weight: 400;
}

p {
  margin: auto;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  color:#a59c96;

}
h2 {

  font-family: 'Arvo', serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  font-family: 'Arvo', serif;
  font-size: 2rem;
}


/*****************CLASS SELECTORS*************************/


.top-container {
  padding-top: 10%;
  background-color: #ccedd2;
  padding-bottom: 10%;
}

.middle-container {
  background-color: #effcef;
  padding: 0;
  padding-bottom: 3%;

}

.bottom-container {
  background-color: #ccedd2;
  color: #655c56;
  padding-top: 3%;
}

.rocket_2 {
  position: absolute;
  bottom: 55%;
  left: 7%;
  width: 5%;
  transform: rotate(-45deg);
}

.rocket_1 {
  position: absolute;
  bottom:75%;
  width: 5%;
  transform: rotate(110deg);
}

.world {
  position: relative;
  bottom: 0;
  width: 70%;
  transform: translate(0  ,10%);
}
.profile {
  background-color: white;
  margin: 0;
  padding-bottom: 10%;
}
.profile img {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 25%;
}

.email {
  text-decoration: underline;
}



.around_world {
  width:75%;

}
.pro {
  font-weight: bold;
}

.skills {
  padding: 5% 10%;
}




.computer {
  float: left;
  width: 30%;
  margin-right: 10%;
  margin-top: 0;

}

.coffee {
  float: right;
  width: 30%;
  margin-left: 10%;
  margin-top: 0;

}

.footer-link {
  margin: auto 3% 10px 3%;
  color: #74b38c;
  text-decoration: none;
  font-size: 1.2rem;
}

.copyright {
  margin: 2% auto;
  font-family: 'Open Sans', sans-serif;
}

.credits {
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.credits:hover {
  color: black;
}

.button {
  background-color: #a59c96;
  border-color: #655c56;
}

.button:hover {
  background-color: #655c56;
  border-color: #a59c96;
}
