/*****************TAG SELECTORS*************************/

a {
  color:inherit;
}

body {
  margin: 0;
  text-align: center;
  color: #655c56;
}

div {

  margin: inherit;
}

h1 {
  margin:auto;
  margin-bottom: 0;
  font-family: 'Parisienne', cursive;
  font-size: 5.625rem;
}

p {
  margin: auto;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
  
}
h2 {

  font-family: 'Arvo', serif;
  font-size: 2.5rem;
  font-weight: normal;
}
h3 {
  font-family: 'Arvo', serif;
}

hr {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-style: dotted;
  border-top: 10px;
  border-width: 15px;
  width: 50px;

  color: #a59c96;
}


/*****************CLASS SELECTORS*************************/

.top-container {
  padding-top: 10%;
  background-color: #ccedd2;
  position: relative;
  padding-bottom: 46.25%;
}

.middle-container {
  background-color: #effcef;

}

.bottom-container {
  background-color: #ccedd2;
  color: #655c56;
}

.middle-container,
.bottom-container {
  padding-bottom: 20px;
  padding-top: 20px;

  width: 100%;
}

.rocket_2 {
  position: absolute;
  bottom: 55%;
  left: 7%;
  width: 5%;
  transform: rotate(-45deg);
}

.rocket_1 {
  position: absolute;
  bottom:75%;
  width: 5%;
  transform: rotate(110deg);
}

.world {
  position: relative;
  bottom: 0;
  width: 70%;
  transform: translate(0  ,10%);
}

.profile img {
  margin-top: 3%;
  width: 31%;
}

.email {
  text-decoration: underline;
}



.around_world {

  position: absolute;
  width:50%;
  height: 0;
  padding-bottom: 50%;
  left: 25%;
}
.pro {
  font-weight: bold;
}

.skill-row {
  width: 50%;
  margin: 5% auto 5% auto;
  text-align: left;
  line-height: 2;
}


.computer {
  float: left;
  width: 20%;
  margin-right: 10%;
  margin-top: 0;

}

.coffee {
  float: right;
  width: 20%;
  margin-left: 10%;
  margin-top: 0;

}
